{% extends "layout.html" %}


{% block body %}
<h3>Hakkımızda</h3>
<hr>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores facilis, laborum, sed quod corporis voluptates
    molestias quos, impedit inventore pariatur dolor nobis porro. Dolor quae, animi quas praesentium placeat veritatis?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos dolorem excepturi reprehenderit voluptatibus
    cupiditate corrupti unde maiores incidunt voluptatum sint dolore fuga expedita optio labore aperiam voluptates
    inventore, quia natus?
</p>
{% endblock body %}